:root {
  --color: white;
  --bg-color: #1291ff;
  --border-color: black;

  @media (prefers-color-scheme: dark) {
    $color: darken(white, 40);
    --color: #{$color};
    --bg-color: #4a4a4a;
  }
}

/* You can add global styles to this file, and also import other style files */
html {
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 18px;
  font-family: Roboto, 'Roboto Light', sans-serif;
}

%btn {
  border: none;
  background-color: var(--color);
  color: var(--bg-color);
  padding: 0;
}

.btn {
  @extend %btn;
  width: 90px;
  height: 90px;
  font-size: 58px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

.username {
  border: 1px solid var(--border-color);
  border-radius: 0;
  padding: 10px;
  font-size: 24px;
  color: var(--bg-color);
  background-color: var(--color);
  margin-right: 1rem;
}

.btn-join {
  @extend %btn;
  font-size: 24px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
}

.text--bigger {
  font-size: 24px;
}

.client-item {
  transition: color .2s;

  &--can:hover {
    cursor: pointer;
    color: #c2cb48;
  }
}

.volume-level {
  width: 30px;
  height: auto;
}

.volume-container {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  vertical-align: bottom;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
  }
}
